* {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    background-color: bisque;
    justify-content: space-around;
    padding: 20px;
}

.columns {
    display: flex;
    gap: 150px;
    padding: 10px;
    margin: 10px;
    /* justify-content: left; */
}

.add_destination {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    
    
}

.destinations {
    
    flex-direction: column;
    align-items: center;
    padding: 6px;
    margin: 6px;
}

.destinations_header {
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    
}
.Zanzibar {
    max-height: 400px ;
    width: 400px; 
    margin: 10px;
    padding: 10px;
    justify-content: center;
    
}
.add_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.destination.jinja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.button {
    background-color: rgb(249, 215, 161);
    border-radius: 5px;
    color: black;    
}

.button1 {
    background-color: rgb(249, 215, 161);
    border-radius: 5px;
    color: black;    
}

.button2 {
    background-color: rgb(249, 215, 161);
    border-radius: 5px;
    color: black;    
}

.button3 {
    background-color: rgb(249, 215, 161);
    border-radius: 5px;
    color: black;    
}