* {
    margin: 0;
    padding: 0;
   
}

a {
    text-decoration: none;
    color: black;
}

.columns {
    display: flex;
    gap: 250px;
    padding: 10px;
    margin: 10px;
}

.add_destination {
    display: flex;
    flex-direction: column;
    /* margin: 5px; */
    padding: 10px;
    align-items: center;
}

.destinations {
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 6px;   
}

.destinations_header {
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    align-items: center;   
}
.Zanzibar {
    max-height: 400px ;
    width: 400px; 
    margin: 25px;  
    margin-left: 70px;   
}
.add_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination.jinja {
    margin: 5px;
    padding: 5px;
}
.button {
    background-color: rgb(153, 166, 246);
    border-radius: 5px;
    color: black;  
    margin: 5px;      
}

.button1 {
    background-color:white;
    border-radius: 5px;
    color: black; 
    display: contents;   

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px; 
}

.all {
    margin-top: 40px;
    margin-left: 160px;
    
}
.details {
    float: left;       
}

.memories {
    float: right;
    width: 60%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.navbar {
    display: flex;
    background-color: rgb(153, 166, 246);
    justify-content: space-around;
    padding: 15px;
}

.select_user {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
}


