<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1><a href="/destinations">Home</a></h1>
            <h1>  &#127758 &#127757 &#127759 &#127758 &#127757 &#127759  Travel Bucket List &#127758 &#127757 &#127759 &#127758 &#127757 &#127759</h1>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
    <div class="footer">Copyright © EveNicholson</div>
</body>
</html>