{% extends 'base.jinja' %}

{% block content %}
    <div class="all">
    <div class="details">
        <br>
        <p>Username: {{ user.username }}</p>
        <br>
        <p>Country: {{ destination.country }}</p>
        <br>
        <p>City: {{ destination.city }}</p>
        <br>
        <p>Date: {{ destination.date }}</p>
        <br>
            <button><a class="button" href="/destinations/{{ destination.id }}/update">Update details</a></button>
                <form action="/destinations/{{ destination.id }}/delete" method="POST"></form>
            <button class="button" type="submit">Delete</button>
        <br>
    </div>
     <div class = "memories">
        <h3>Memories:</h3>
    <form method="POST" action="/destinations/{{ destination.id }}/comments">
        <textarea name="comment" rows="4" cols="40"></textarea>
        <br>
        <input class="button"type="submit" value="Add Memories">
    </form>
    <ul>
        {% for comment in destination.comments %}
            <li>{{ comment.comment }} <form action="/destinations/{{ destination.id }}/comments/{{ comment.id }}/delete" method="POST">  
            <button class="button" type="submit">Delete memories</button></form>   
        {% endfor %}
            </li>
    </ul>
    </div>
        {% endblock content %}